In [ ]:
import pandas as pd
df = pd.read_csv('us-states.csv',error_bad_lines=False)

In [ ]:
TotalCases = df[df['date'] == '2021-04-22'].reset_index(drop = True)
TotalCases = TotalCases[['state','cases', 'deaths']].sort_values(by=['deaths']).reset_index(drop = True)
TotalCases
#Five_States = TotalCases[(TotalCases['state'] == 'Northern Mariana Islands') | (TotalCases['state'] == 'Virgin Islands') | (TotalCases['state'] == 'Virginia') | (TotalCases['state'] == 'New York') | (TotalCases['state'] == 'California') ]
#Five_States.reset_index(drop = True)

In [ ]:
NY = df[df.state == 'New York'].reset_index()

In [ ]:
NY

     index        date     state  fips    cases  deaths
0      246  2020-03-01  New York    36        1       0
1      261  2020-03-02  New York    36        1       0
2      276  2020-03-03  New York    36        2       0
3      293  2020-03-04  New York    36       11       0
4      313  2020-03-05  New York    36       22       0
..     ...         ...       ...   ...      ...     ...
413  22652  2021-04-18  New York    36  1996876   51077
414  22707  2021-04-19  New York    36  2002053   51122
415  22762  2021-04-20  New York    36  2006712   51183
416  22817  2021-04-21  New York    36  2010967   51228
417  22872  2021-04-22  New York    36  2016244   51299

[418 rows x 6 columns]

In [ ]:
NY = NY[['date','cases','deaths']]

In [ ]:
NY['cases']

0            1
1            1
2            2
3           11
4           22
        ...
413    1996876
414    2002053
415    2006712
416    2010967
417    2016244
Name: cases, Length: 418, dtype: int64